__pycache__
.DS_Store
.idea
.vscode
*.out
*.jpg
*.png

atari/trajs
atari/exp_models
atari/retrain_logs
atari/retrain_models
atari/pretrained_models
atari/agent
atari/run_*.sh

mujoco/trajs
mujoco/exp_models
mujoco/multiagent-competition-master
